.main {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 70%; }
  .main h1 {
    font-family: 'PoetsenOne';
    text-align: center;
    margin-bottom: 10vh; }
  .main table {
    font-family: 'Summer Font';
    font-size: x-large;
    width: 80%;
    margin: auto; }
    .main table .image img {
      border: 1px solid #959595;
      /*height: 50%;
                width: 50%;*/
      height: 65px;
      width: 65px;
      border-radius: 75%;
      object-fit: cover;
      box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2); }
  .main th:not(.fotoCol):not(.delete) {
    border-bottom: 3px solid black; }
  .main table tr .fotoCol {
    width: 10%; }
  .main table tr .nameCol {
    font-family: 'PoetsenOne';
    width: 50%; }
  .main table tr .name {
    font-family: 'PoetsenOne';
    font-size: x-large; }
  .main table tr .color {
    width: 80%;
    height: 4.8vh;
    border: 2px solid black;
    border-radius: 50%; }
  .main table tr th {
    font-family: 'Summer Font Light';
    font-size: x-large; }
    .main table tr th:not(.nameCol) {
      text-align: center; }
  .main table tr td {
    vertical-align: middle;
    border-bottom: 2px solid black; }
    .main table tr td:not(.name) {
      text-align: center; }
    .main table tr td form input[type=submit] {
      text-decoration: none;
      border: none; }
  .main .buy {
    background-color: red;
    font-family: 'PoetsenOne';
    font-size: x-large;
    color: white;
    border: 0;
    width: 30%;
    border-radius: 2% 2% 2% 2%;
    margin-top: 10vh;
    margin-left: auto; }
