.container .info:nth-child(even) .text {
  width: 30% !important;
  height: 100%;
  float: right !important;
  margin: 0 !important;
  padding: 0 !important; }
  .container .info:nth-child(even) .text h1 {
    font-size: 20px !important;
    margin: 0 !important;
    padding: 0 !important; }
  .container .info:nth-child(even) .text p {
    font-size: 20px !important;
    margin: 0 !important;
    padding: 0 !important; }

.container .info:nth-child(odd) .text {
  width: 50% !important;
  height: 100%;
  float: left !important; }
  .container .info:nth-child(odd) .text h1 {
    font-size: 20px !important;
    margin: 0 !important; }
  .container .info:nth-child(odd) .text p {
    font-size: 20px !important; }
