@import url("fonts.css");
h1, h2, h3, h4, h5, h6 {
  font-family: "PoetsenOne"; }

* {
  scroll-behavior: smooth;
  font-family: 'Summer Font';
  color: #000000; }

.landing {
  position: relative;
  z-index: 10;
  display: flex;
  font-family: "PoetsenOne";
  height: 100vh;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .landing .landing-container {
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 64px;
    display: flex;
    justify-content: center; }
    .landing .landing-container div {
      margin-top: 16vmin; }
      .landing .landing-container div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 24px;
        width: 32vmin;
        height: 32vmin; }
      .landing .landing-container div h1, .landing .landing-container div h3 {
        text-align: center;
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
        color: #FFFFFF;
        font-family: "PoetsenOne"; }
      .landing .landing-container div h3 {
        font-size: xx-large;
        padding-top: 16px; }
      .landing .landing-container div hr {
        padding: 0;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        border-top: 7px solid #FFFFFF;
        width: 75%;
        border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -ms-border-radius: 7px 7px 7px 7px;
        -o-border-radius: 7px 7px 7px 7px; }

.arrow {
  animation: MoveUpDown 1s ease-in-out infinite;
  -webkit-animation: MoveUpDown 1s ease-in-out infinite; }

.arrow_black {
  position: relative;
  animation: MoveUpDown 1s ease-in-out infinite;
  -webkit-animation: MoveUpDown 1s ease-in-out infinite; }

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0; }
  50% {
    bottom: 10px; } }

.bubbles {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: -15%; }
  .bubbles .bottom-text {
    padding: 0;
    margin-top: -50vh; }
    .bubbles .bottom-text h3 {
      color: #63B349; }
  .bubbles .container {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; }
    .bubbles .container .info {
      padding: 0;
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      top: -48vmin; }
      .bubbles .container .info:nth-child(2) .text {
        width: 50%;
        height: 100%;
        float: left; }
        .bubbles .container .info:nth-child(2) .text h1 {
          font-size: 8vh;
          color: #F49A00; }
        .bubbles .container .info:nth-child(2) .text p {
          font-size: 6vh;
          color: #F49A00;
          font-family: 'Summer Font Light'; }
      .bubbles .container .info:nth-child(3) .text {
        width: auto;
        height: 100%;
        float: right;
        text-align: right;
        padding-right: 5vmin; }
        .bubbles .container .info:nth-child(3) .text h1 {
          font-size: 8vh;
          color: #AB142D; }
        .bubbles .container .info:nth-child(3) .text p {
          font-size: 6vh;
          color: #AB142D;
          font-family: 'Summer Font Light'; }
      .bubbles .container .info:nth-child(4) .text {
        width: 50%;
        height: 100%;
        float: left; }
        .bubbles .container .info:nth-child(4) .text h1 {
          font-size: 8vh;
          color: #6D3C8B; }
        .bubbles .container .info:nth-child(4) .text p {
          font-size: 6vh;
          color: #6D3C8B;
          font-family: 'Summer Font Light'; }
      .bubbles .container .info:nth-child(5) .text {
        width: 50%;
        height: 100%;
        float: right;
        text-align: right; }
        .bubbles .container .info:nth-child(5) .text h1 {
          font-size: 8vh;
          color: #63B349; }
        .bubbles .container .info:nth-child(5) .text p {
          font-size: 6vh;
          color: #63B349;
          font-family: 'Summer Font Light'; }
      .bubbles .container .info:nth-child(6) .text {
        width: 50%;
        height: 100%;
        float: left; }
        .bubbles .container .info:nth-child(6) .text h1 {
          font-size: 8vh;
          color: #4899CE; }
        .bubbles .container .info:nth-child(6) .text p {
          font-size: 6vh;
          color: #4899CE;
          font-family: 'Summer Font Light'; }
      .bubbles .container .info .bubble {
        padding: 0;
        margin: 0;
        float: left;
        display: block;
        overflow: visible;
        height: 64vmin;
        width: 64vmin;
        background-image: url("../images/bubbles/1.png");
        background-size: 60vmin;
        background-repeat: no-repeat; }
      .bubbles .container .info:nth-child(2) .bubble {
        background-image: url("../images/bubbles/2.png"); }
      .bubbles .container .info:nth-child(3) .bubble {
        position: relative;
        right: -15vmin;
        background-size: 50vmin;
        background-image: url("../images/bubbles/3.png"); }
      .bubbles .container .info:nth-child(4) .bubble {
        background-image: url("../images/bubbles/4.png");
        background-size: 50vmin; }
      .bubbles .container .info:nth-child(5) .bubble {
        position: relative;
        right: -20vmin;
        background-image: url("../images/bubbles/5.png");
        background-size: 44.5vmin; }
      .bubbles .container .info:nth-child(6) .bubble {
        width: 25%;
        background-image: url("../images/bubbles/6.png");
        background-size: 44.5vmin; }

.actions {
  border-top: 16px solid #D7D7D7;
  padding-bottom: 72px;
  background-color: #E2E2E2;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .actions .first-action {
    border: 0px solid black;
    border-radius: 15px;
    background-color: #000000;
    color: #FFFFFF;
    width: 30%; }
    .actions .first-action div.top-text {
      background-color: #4899CE;
      width: 100%;
      height: 10%;
      margin-top: 0;
      padding-top: 0;
      border-radius: 15px 15px 0 0; }
      .actions .first-action div.top-text h2 {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  .actions .second-action {
    border-radius: 15px 15px 15px 15px;
    background-color: #000000;
    width: 30%; }
    .actions .second-action div.top-text {
      background-color: #F49A00;
      width: 100%;
      height: 10%;
      margin-top: 0;
      padding-top: 0;
      border-radius: 15px 15px 0 0; }
      .actions .second-action div.top-text h2 {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  .actions .action-main {
    margin: 0; }
  .actions .action-main img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  .actions div {
    margin-top: 24px;
    box-shadow: 15px 15px 2px rgba(0, 0, 0, 0.3); }
    .actions div h2 {
      margin: 0;
      color: #FFFFFF;
      text-align: center; }
