.info:nth-child(1) {
  display: none; }

.bubbles .container {
  padding-top: 50%; }
  .bubbles .container .info .text h1 {
    margin: 0px;
    padding: 0px; }
  .bubbles .container .info .text p {
    padding: 0px;
    margin: 0px; }
  .bubbles .container .info:nth-child(2) .bubble {
    background-size: 40vh;
    width: 40%; }
  .bubbles .container .info:nth-child(2) .text {
    padding-left: 16px; }
  .bubbles .container .info:nth-child(5) .bubble {
    background-image: url("../images/bubbles/5-mobile.png");
    right: -20%;
    background-size: 50vh; }
  .bubbles .container .info:nth-child(6) .bubble {
    width: 45%; }
