.container .info:nth-child(even) .text {
  width: 30% !important;
  height: 100%; }
  .container .info:nth-child(even) .text h1 {
    font-size: 40px !important; }
  .container .info:nth-child(even) .text p {
    font-size: 30px !important; }

.container .info:nth-child(odd) .text {
  width: 50% !important;
  height: 100%; }
  .container .info:nth-child(odd) .text h1 {
    font-size: 40px !important; }
  .container .info:nth-child(odd) .text p {
    font-size: 30px !important; }

.container .info:nth-child(3), .container .info:nth-child(5) {
  width: 60min; }

.actions {
  padding-bottom: 42px; }
  .actions .first-action, .actions .second-action {
    width: 30vw;
    border-radius: 10px;
    box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.3); }
    .actions .first-action h2, .actions .second-action h2 {
      font-size: 3.75vw; }
    .actions .first-action img, .actions .second-action img {
      border-radius: 0px 0px 10px 10px; }
