.main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column; }
  .main .top {
    background-color: #C80C2B;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10vh 0; }
    .main .top .first-side {
      display: flex;
      text-align: right; }
    .main .top .center h1 {
      font-family: 'PoetsenOne';
      font-size: 8vw; }
    .main .top .second-side {
      display: flex; }
  .main .items {
    margin: auto;
    margin-top: 10vh;
    height: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 500px auto 200px;
    column-gap: 200px;
    row-gap: 50px; }
    .main .items .item {
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: max-content;
      width: fit-content; }
      .main .items .item img {
        border-radius: 5%;
        border: 2px solid #C80C2B;
        margin: auto;
        width: 100%; }
      .main .items .item h2 {
        text-align: center;
        font-family: 'PoetsenOne'; }
      .main .items .item h3 {
        text-align: center;
        font-family: 'Summer Font'; }
