.mainPage .shirt {
  flex-direction: column; }
  .mainPage .shirt .designShow {
    width: 60%; }
    .mainPage .shirt .designShow img {
      width: 100%;
      margin: auto; }

.mainPage .info {
  margin: 0 !important;
  width: 85vw !important; }
  .mainPage .info h1 {
    font-size: 50px !important; }
  .mainPage .info p {
    font-size: 1.5em !important;
    margin: 0; }
  .mainPage .info .data .price {
    font-size: x-large !important; }
  .mainPage .info .buyingData .sizes {
    flex-wrap: wrap; }
  .mainPage .info .buyingData .size {
    margin-bottom: 3px; }
  .mainPage .info .buyingData .colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .mainPage .info form .buy {
    height: 35px !important; }
    .mainPage .info form .buy input[type=submit] {
      height: 100%;
      width: 100% !important; }
