.mainPage {
  display: flex; }
  .mainPage .shirt {
    display: flex;
    flex-direction: row;
    margin: 7vw;
    margin-right: 6vw; }
    .mainPage .shirt img {
      width: 30%; }
    .mainPage .shirt .info {
      margin-left: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-family: 'Summer Font Light';
      width: 40%; }
      .mainPage .shirt .info h1 {
        font-family: 'PoetsenOne'; }
      .mainPage .shirt .info p {
        font-size: 1.2vw; }
      .mainPage .shirt .info .data {
        margin-right: 0%;
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .mainPage .shirt .info .data h3 {
          font-size: xx-large;
          font-family: 'PoetsenOne';
          margin-right: 2vw; }
        .mainPage .shirt .info .data .firstBubble {
          margin-left: auto;
          margin-right: 1vw;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center; }
          .mainPage .shirt .info .data .firstBubble img {
            margin: auto;
            width: 25%; }
          .mainPage .shirt .info .data .firstBubble h3 {
            margin: auto;
            font-family: 'PoetsenOne';
            font-size: large; }
        .mainPage .shirt .info .data .secondBubble {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center; }
          .mainPage .shirt .info .data .secondBubble img {
            margin: auto;
            width: 30%; }
          .mainPage .shirt .info .data .secondBubble h3 {
            font-size: large;
            font-family: 'PoetsenOne';
            margin: auto; }
      .mainPage .shirt .info .captions {
        display: flex;
        font-family: 'Summer Font Light'; }
        .mainPage .shirt .info .captions h2 {
          font-family: 'Summer Font Light';
          display: inline; }
        .mainPage .shirt .info .captions h2:nth-child(2) {
          margin-left: auto; }
      .mainPage .shirt .info .buyingData {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        .mainPage .shirt .info .buyingData .size {
          border: 2px black solid;
          background-color: #C1C1C1;
          font-family: 'PoetsenOne';
          margin-right: 2%; }
        .mainPage .shirt .info .buyingData .on {
          background-color: yellow; }
        .mainPage .shirt .info .buyingData .sizes {
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
          flex-direction: row; }
        .mainPage .shirt .info .buyingData .color {
          border: 2px black solid;
          width: 2vw;
          height: 2vw;
          display: block; }
        .mainPage .shirt .info .buyingData .colors {
          margin-left: auto;
          justify-content: end; }
      .mainPage .shirt .info form .buy {
        height: 20%;
        margin-top: 2vh;
        display: flex; }
        .mainPage .shirt .info form .buy input[type=submit] {
          width: auto;
          height: 100%;
          width: 20%;
          color: white;
          background-color: red;
          border: 2px solid black;
          border-right: 0;
          font-family: 'PoetsenOne'; }
        .mainPage .shirt .info form .buy input {
          border: 2px solid black;
          font-family: 'PoetsenOne'; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.quantity {
  width: 100%;
  height: 100%; }
  .quantity h3 {
    font-family: 'PoetsenOne';
    margin: 0;
    padding: 0; }

.quantity input {
  height: 85%;
  width: 45px;
  float: left;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08); }

.quantity input:focus {
  outline: 0; }

.quantity-nav {
  float: left;
  position: relative;
  height: 85%; }

.quantity-button {
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
  border: none;
  width: 21px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "FontAwesome" !important;
  padding: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 2px;
  left: -3px;
  font-family: "FontAwesome"; }

.quantity-button.quantity-down {
  position: absolute;
  bottom: -2px;
  left: -3px;
  height: 50%;
  font-family: "FontAwesome"; }

.colors input[type="radio"] {
  display: none; }

.colors div {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid black; }

.colors input[type="radio"] + div {
  padding: 0;
  margin: 0;
  width: fit-content; }
  .colors input[type="radio"] + div img {
    visibility: hidden;
    margin: 0;
    width: 24px;
    height: 24px; }

.colors input[type="radio"]:checked + div img {
  visibility: visible;
  width: 24px;
  height: 24px; }

.size input[type="radio"] {
  display: none; }

.size div {
  display: block;
  text-transform: uppercase;
  border: 1px solid black; }

.size input[type="radio"] + div {
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0;
  width: fit-content; }

.size input[type="radio"]:checked + div {
  background-color: yellow; }
