@import url('fonts.scss');

::-webkit-scrollbar-thumb{
    background-color: #3E90C6;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
::-webkit-scrollbar {
    width: 8px;
}

body{
	margin: 0;
    inset: 0;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    height: 7vh;
    background-color: white;
    div{
        a{
            text-decoration: none;
            height: auto;
            justify-content: center;
            font-family: 'PoetsenOne';
            font-size: 4vh;
            img{
                width: 5vh;
                height: 5vh;
            }
        }
        a:hover{
            color: #FF9B00;
        }
    }
}