@import url('fonts.css');

::-webkit-scrollbar-thumb{
    background-color: #3E90C6;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
::-webkit-scrollbar {
    width: 8px;
}

body{
    overflow-x: hidden;
	margin: 0;
    inset: 0;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 11;
    height: 7vh;
    background-color: white;
    div{
        a{
            text-decoration: none;
            height: auto;
            justify-content: center;
            font-family: 'PoetsenOne';
            font-size: 4vh;
            img{
                width: 5vh;
                height: 5vh;
            }
            #items{
                display: flex;
                justify-content: flex-end;
            }
        }
        a:hover{
            color: #FF9B00;
        }
        
       .icon{
            display: none;
        }
    }

}


footer{
    h3{
        font-family: "PoetsenOne";
    }
    display: flex;
    border-top: 10px solid #A3A3A3;
    div{
        padding: 32px;
        p{
            font-size: large;
        }
    }
}
@media only screen and (max-width:786px) {
    .navbar{
        div{
            .icon{ 
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    
    #items{
        display: none;
        position: relative;
        padding-right: 32px;
    }
}
