@import url('fonts.css');

.main{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    header{
        text-align: center;
        font-size: 32pt;
        font-family: 'PoetsenOne';
        margin-bottom: 5vh;
    }
    .contacts{
        div div{
            display: flex;
            justify-content: space-around;
            text-align: center;
            margin-top: 2vh;
            i{
                font-size: xx-large;
            }
            span{
                font-size: 20pt;
                font-family: 'Summer Font';
                width: 30%;
            }
        }
    }
}