@font-face {
    font-family: 'Summer Font';
    src: url("../fonts/SummerFont/Summer Font Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Summer Font Light';
    src: url("../fonts/SummerFont/Summer Font Light.otf") format("opentype");
}
@font-face {
    font-family: 'PoetsenOne';
    src: url("../fonts/PoetsenOne/PoetsenOne-Regular.ttf") format("truetype");
}