.info:nth-child(1){
	display: none;
}
.bubbles{
	.container{
		padding-top: 50%;
		.info{
			.text{
				h1{
					margin: 0px;
					padding: 0px
				}
				p{
					padding: 0px;
					margin: 0px;
				}
			}
		}
		.info:nth-child(2){
			.bubble{
				background-size: 40vh;
				width: 40%;
			}
			.text{
				padding-left: 16px;
			}
		}
		.info:nth-child(5){
			.bubble{
				background-image: url("../images/bubbles/5-mobile.png");
				right: -20%;
				background-size: 50vh;
			}
		}
		.info:nth-child(6){
			.bubble{
				width: 45%;
			}
		}
	}
}
