.main{
    width: 90%;
    .scroll {
        overflow-x: scroll;
    }
    table{
        .image{
            img{
                height: 55px;
                width: 55px;
                object-fit: cover;
            }
        }
    }

    table tr {
        .color {
            height: 35px;
            width: 35px;
        }
    }
}

.data{
    flex-direction: column !important;
}