.mainPage{
	.shirt{
		flex-direction: column;
		img{
			width: 60%;
			margin: auto;
		}
	}

	.info{
		margin: 0 !important;
		width: 85vw !important;
		h1 {
			font-size: 50px !important;
		}
		p{
			font-size: 1.5em !important;
			margin: 0;
		}

		.data {
			.price {
				font-size: x-large !important;
			}
		}

		.buyingData {
			.sizes {
				flex-wrap: wrap;
			}
			.size {
				margin-bottom: 3px;
			}
			.colors {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
		}

		form{
			.buy{
				height: 35px !important;
				input[type=submit]{
					height: 100%;
					width: 100% !important;
				}
			}
		}
	}

}
