*{
    border: 1px solid red;
}

.mainPage{
    display: flex;

    .shirt{
        display: flex;
        flex-direction: row;
        margin:7vw;
        margin-right: 6vw;
        img{
            width: 30%;
        }
        .info{
            margin-left: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: 'Summer Font Light';
            width: 40%;
            h1{
                font-family: 'PoetsenOne';
            }
            p{
                font-size: 1.2vw;
            }

            .data{  
                margin-right: 0%;
                margin-top: 2vh;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h3{
                    font-size: x-large;
                    font-family: 'Summer Font Light';
                    margin-right: 2vw;
                }
                .firstBubble{
                    margin-left: auto;
                    margin-right: 1vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    img{
                        margin:auto;
                        width: 25%;
                    }
                    h3{
                        margin: auto;
                        font-family: 'PoetsenOne';
                        font-size: large;
                    }
                }
                .secondBubble{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    img{
                        margin:auto;
                        width: 30%;
                    }
                    h3{
                        font-size: large;
                        font-family: 'PoetsenOne';
                        margin: auto;
                    }
                }
            }
            .captions{
                display: flex;
                font-family: 'Summer Font Light';
                h2{
                    font-family: 'Summer Font Light';
                    display: inline; 
                }
                h2:nth-child(2){
                    margin-left: auto;
                }
            }
            .buyingData{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .size{
                    border: 2px black solid;
                    background-color: #C1C1C1;
                    font-family: 'PoetsenOne';
                }
                .sizes{
                    margin-top: auto;
                    margin-bottom: auto;
                }
                .color{
                    border: 2px black solid;
                    width: 2vw;
                    height: 2vw;
                }
                .colors{
                    margin-left: auto;
                }
            }
            .buy{
                display: flex;
                button{
                    width: auto;
                    height: 62%;
                    margin-top: auto;
                    margin-bottom: auto;
                    color: white;
                    background-color: red;
                    border: 2px solid black;
                    border-right: 0;
                    font-family: 'PoetsenOne';
                }
                h3{
                    border:2px solid black;
                    width: 10%;
                    text-align: center;
                    font-family: 'PoetsenOne';
                }
            }
        }
    }
}