*{
    border: 1px solid red;
}

.mainPage{
    display: flex;

    .shirt{
        display: flex;
        flex-direction: row;
        margin:7vw;
        margin-right: 6vw;
        img{
            width: 30%;
        }
        .info{
            margin-left: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: 'Summer Font Light';
            width: 40%;
            h1{
                font-family: 'PoetsenOne';
            }
            p{
                font-size: 1.2vw;
            }

            .data{  
                margin-right: 0%;
                margin-top: 2vh;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h3{
                    font-size: x-large;
                    font-family: 'Summer Font Light';
                    margin-right: 2vw;
                }
                .firstBubble{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    img{
                        margin:auto;
                        width: 25%;
                    }
                    h3{
                        margin: auto;
                        font-family: 'PoetsenOne';
                        font-size: large;
                    }
                }
                .secondBubble{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    img{
                        margin:auto;
                        width: 30%;
                    }
                    h3{
                        font-size: large;
                        font-family: 'PoetsenOne';
                        margin: auto;
                    }
                }
            }
            .buyingData{
                display: flex;
                .size{
                    border: 2px black solid;
                    background-color: #C1C1C1;
                    font-family: 'PoetsenOne';
                    margin: 1vh 1vw 1vh 1vw;
                }
            }
        }
    }
}