{% extends 'base.html' %}
{% block title %}404 - ReFacto{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}" type="text/css">

{% endblock %}

{% block body %}
<div id="main">
    <a href="{{ url_for('home_view') }}" id="bubble" onmouseover="change()" onmouseleave="changeBack()">
        <h1 class="w3-xxxlarge">Error<br>404</h1>
    </a>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/404.js')}}">
</script>
    
{% endblock %}