<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo/logo_black.png') }}" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="cart">
            <div>
                <a href="{{ url_for('cart') }}"><i class="fas fa-shopping-bag"></i></a>
                <div>
                    <p>{{ number_of_items_in_basket }}</p>
                </div>
            </div>
        </div>
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Nabídka</a>
            <a href="{{ url_for('kolekce') }}"">Kolekce</a>
            <a href="{{ url_for('contact') }}">Kontakt</a>
          </div>
            <div class="w3-bar w3-border w3-large navbar">
                <div class="w3-white" style="background-color: white;">
                    <a href="{{ url_for('home_view') }}" class="w3-bar-item" style="padding-left: 16px;"><img src="{{ url_for('static', filename='images/logo/logo_black.png') }}"></a>
                    <div class="items">
                        <a href="{{ url_for('contact') }}" class="w3-bar-item w3-right">Kontakt</a>
                        <a href="#" class="w3-bar-item w3-right">Nabídka</a>
                        <a href="{{ url_for('kolekce') }}" class="w3-bar-item w3-right">Kolekce</a>
                    </div>    
                    <a href="javascript:void(0);" class="w3-bar-item w3-right icon" onclick="openNav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            {% block body %}

            {% endblock %}
            <footer class="w3-container">
                <div style="float: left;">
                    <h3>ReFacto a.s</h3>
                    <p class="w3-xlarge">
                        Tato firma spadá pod Junior Achievement
                        <br>
                        <a href="#">Obchodní podmínky</a>
                        <br>
                        <a href="{{ url_for('contact') }}">Kontakt</a>
                    </p>
                    <p>Všechna práva vyhrazena ReFacto</p>
                </div>
            </footer>
            <script type="text/javascript">
            function openNav() {
                    document.getElementById("mySidepanel").style.width = "200px";
            }

            function closeNav() {
                document.getElementById("mySidepanel").style.width = "0";
            }
            function getRandomColor() {
                    var letters = '0123456789ABCDEF'.split('');
                    var color = '#';
                    for (var i = 0; i < 6; i++ ) {
                        color += letters[Math.floor(Math.random() * 16)];
                    }
                    return color;
                }
            //$('div').each(function (index, div) {
            //    $(div).css('border', '1px solid ' + getRandomColor());
            //});

            </script>
            <script src="https://kit.fontawesome.com/4963a4c9ed.js" crossorigin="anonymous"></script>
            {% block scripts %}
            {% endblock %}
    </body>
</html>