<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_shadow.png') }}" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
            <div class="w3-bar w3-border w3-large navbar">
                <div class="w3-white" style="background-color: white;">
                    <a href="{{ url_for('home_view') }}" class="w3-bar-item" style="padding-left: 16px;"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
                    <a href="#" class="w3-bar-item w3-right">Nabídka</a>
                    <a href="{{ url_for('kolekce') }}" class="w3-bar-item w3-right">Kolekce</a>
                    <a href="#" class="w3-bar-item w3-right">Kontakt</a>
                </div>
            </div>
            {% block body %}

            {% endblock %}
            <footer class="w3-container">
                <div style="float: left;">
                    <h3>DeFacto a.s</h3>
                    <p class="w3-xlarge">
                        Nějaký text, důležitá informace...
                        <br>
                        <a href="#">Obchodní podmínky</a>
                        <br>
                        <a href="#">Kontakt</a>
                    </p>
                    <p>Všechna práva vyhrazena DeFacto a.s. 2022</p>
                </div>
            </footer>
    </body>
    {% block scripts %}
    {% endblock %}
</html>