{% extends 'base.html' %}
{% block title %}Košík - ReFacto{% endblock %}
{% block head %}
<script src="https://www.paypal.com/sdk/js?client-id=AYl6fzLH8a742hJG_PA89W_uTwnogNeEbFHenxSv5BeSH5RpoJpqzJ8lgFn4mw3kyAUImk-s0WDL6F1Q&currency=CZK"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart-tablet.css') }}" media="(max-width: 968px)" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">
{% endblock %}
{% block body %}
<div class="main">
    <h1>Košík</h1>
    <table class="w3-table">
        <tr>
            <th class="fotoCol">&nbsp;</th>
            <th class="nameCol">Jméno trička</th>
            <th class="colorCol">Barva</th>
            <th>Velikost</th>
            <th>Počet Kusů</th>
            <th>Cena</th>
            <th class="delete">&nbsp;</th>
        </tr>
        
        {% for item in items %}
        <tr>
            <td class="image"><img src="{{ url_for('static', filename=item.imageCart) }}"></td>
            <td class="name">{{ item.name }}</td>
            <td><div  class="color" style="background-color: {{ item.color }}"></div></td>
            <td>{{ item.size}}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total }}</td>
            <td>
                <form action="{{ url_for('cart_remove')}}" method="POST">
                    <input type="hidden" value="{{ item.id }}" name="id">
                    <input type="hidden" value="{{ item.name }}" name="name">
                    <input type="hidden" value="{{ item.quantity }}" name="quantity">
                    <input type="hidden" value="{{ item.size }}" name="size">
                    <input type="hidden" value="{{ item.color }}" name="color">

                    <input type="submit" value="Odebrat">
                </form>
            </td> 
        </tr>
        {% endfor %}
    </table>
    <button class="buy">
        <a>Objednat za {{ grand_total }} korun <i class="fas fa-arrow-right"></i></a>
    </button>
    <div id="paypal-button-container"></div>
</div>
{% endblock %}
{% block script %}

<script>
    paypal.Buttons({

      // Sets up the transaction when a payment button is clicked
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '77.44' // Can reference variables or functions. Example: `value: document.getElementById('...').value`
            }
          }]
        });
      },

      // Finalize the transaction after payer approval
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
          // Successful capture! For dev/demo purposes:
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
              var transaction = orderData.purchase_units[0].payments.captures[0];
              alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

          // When ready to go live, remove the alert and show a success message within this page. For example:
          // var element = document.getElementById('paypal-button-container');
          // element.innerHTML = '';
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        });
      }
    }).render('#paypal-button-container');

  </script>
{% endblock %}
