{% extends 'base.html' %} {% block title %}Dodací údaje - ReFacto{% endblock %} {%
block head %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/checkout.css')}}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/contact-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">
{% endblock %} {% block body %}
<div class="main">
	<div>
		<form
			class="w3-container w3-card-4 w3-light-grey w3-margin"
			action="{{ url_for('payment')}}"
			method="POST"
		>
			<h2 class="w3-center" style="font-family: 'PoetsenOne';">Adresa a údaje</h2>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-user"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="first"
						type="text"
						placeholder="Jméno"
						id="firstName"
						required
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-user"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="last"
						type="text"
						placeholder="Přijmení"
						id="lastName"
						required
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-envelope-o"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="email"
						type="email"
						placeholder="Email"
						id="email"
						required
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-phone"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="phone"
						type="tel"
						placeholder="Telefonní číslo"
						id="phone"
						minlength="9"
						pattern="[0-9]{3}[0-9]{3}[0-9]{3}"
						required
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="address"
						type="text"
						placeholder="Adresa"
						id="address"
						required
					/>
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="psc"
						type="text"
						placeholder="PSČ"
						id="psc"
						minlength="5"
						pattern="[0-9]{3}[0-9]{2}"
						required
					/>
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="town"
						type="text"
						placeholder="Město"
						id="town"
						required
					/>
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-truck" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input class="w3-radio" type="radio" name="delivery" value="zasilkovna" checked required>
					<label style="font-family: 'Summer Font';" class="w3-xlarge">Zásilkovna</label>
		
					<input class="w3-radio" type="radio" name="delivery" value="posta">
					<label style="font-family: 'Summer Font';" class="w3-xlarge">Česká Pošta</label>
					<input class="w3-radio" type="radio" name="delivery" value="ppl">
					<label style="font-family: 'Summer Font';" class="w3-xlarge">PPL</label>
		
					<input class="w3-radio" type="radio" name="delivery" value="local">
					<label style="font-family: 'Summer Font';" class="w3-xlarge">Osobní odběr</label>
				</div>
			</div>

			<input class="w3-button w3-blue" style="font-family: 'PoetsenOne'; width: 100%;" type="submit" value="Zaplatit">
		</form>
		<h3 style="font-family: 'PoetsenOne';" id="error"></h3>
	</div>
	<script>
	

		function validateFields() {
			if (document.querySelector("#firstName").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím jméno";
				return false;
			}

			if (document.querySelector("#lastName").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím přijmení";
				return false;
			}
			if (document.querySelector("#phone").value.length < 9) {
				document.querySelector("#error").innerText =
					"Zadej prosím telefonní číslo";
				return false;
			}

			if (document.querySelector("#email").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím e-mail";
				return false;
			}

			if (document.querySelector("#adress").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím adresu";
				return false;
			}

			if (document.querySelector("#psc").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím PSČ";
				return false;
			}
			if (document.querySelector("#town").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím město";
				return false;
			}
			document.querySelector("#error").innerText = "";
			return true;
		}

	</script>
</div>
{% endblock %}
