{% extends 'base.html' %} {% block title %}Platba - ReFacto{% endblock %} {%
block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/checkout.css')}}"
/>
{% endblock %} {% block body %}
<div class="main">
	<script src="https://www.paypal.com/sdk/js?client-id=AYl6fzLH8a742hJG_PA89W_uTwnogNeEbFHenxSv5BeSH5RpoJpqzJ8lgFn4mw3kyAUImk-s0WDL6F1Q&currency=CZK"></script>
	<div>
		<form
			class="w3-container w3-card-4 w3-light-grey w3-margin"
		>
			<h2 class="w3-center" style="font-family: 'PoetsenOne';">Adresa a údaje</h2>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-user"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="first"
						type="text"
						placeholder="Jméno"
						id="firstName"
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-user"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="last"
						type="text"
						placeholder="Přijmení"
						id="lastName"
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-envelope-o"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="email"
						type="text"
						placeholder="Email"
						id="email"
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-phone"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="phone"
						type="number"
						placeholder="Telefonní číslo"
						id="phone"
					/>
				</div>
			</div>

			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="message"
						type="text"
						placeholder="Adresa"
						id="adress"
					/>
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="message"
						type="text"
						placeholder="PSČ"
						id="psc"
					/>
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input
						class="w3-input w3-border w3-border-blue"
						name="message"
						type="text"
						placeholder="Město"
						id="town"
					/>
				</div>
			</div>
			<div class="w3-row w3-section">
				<div class="w3-col" style="width: 50px">
					<i class="w3-xxlarge fa fa-truck" aria-hidden="true"></i>
				</div>
				<div class="w3-rest">
					<input class="w3-radio" type="radio" name="gender" value="zasilkovna" checked>
					<label style="font-family: 'Summer Font';" class="w3-xlarge">Zásilkovna</label>
		
					<input class="w3-radio" type="radio" name="gender" value="posta">
					<label style="font-family: 'Summer Font';" class="w3-xlarge">Česká Pošta</label>
					<input class="w3-radio" type="radio" name="gender" value="ppl">
					<label style="font-family: 'Summer Font';" class="w3-xlarge">PPL</label>
		
					<input class="w3-radio" type="radio" name="gender" value="local">
					<label style="font-family: 'Summer Font';" class="w3-xlarge">Osobní odběr</label>
				</div>
			</div>

		</form>
		<h3 style="font-family: 'PoetsenOne';" id="error"></h3>
	</div>
	<div></div>
	<div id="paypal-button-container"></div>
	<script>
		function validateFields() {
			if (document.querySelector("#firstName").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím jméno";
				return false;
			}

			if (document.querySelector("#lastName").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím přijmení";
				return false;
			}
			if (document.querySelector("#phone").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím telefonní číslo";
				return false;
			}

			if (document.querySelector("#email").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím e-mail";
				return false;
			}

			if (document.querySelector("#adress").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím adresu";
				return false;
			}

			if (document.querySelector("#psc").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím PSČ";
				return false;
			}
			if (document.querySelector("#town").value.length <= 1) {
				document.querySelector("#error").innerText =
					"Zadej prosím město";
				return false;
			}
			document.querySelector("#error").innerText = "";
			return true;
		}
		paypal
			.Buttons({
				onInit: function (data, actions) {
					// Disable the buttons
					actions.disable();
					console.log("Vytvoření a setup disable");
					//while(true){
					//	if(validateFields())
					//		actions.enable();
					//}
				},
				createOrder: function (data, actions) {
					// This function sets up the details of the transaction, including the amount and line item details.
					return actions.order.create({
						purchase_units: [
							{
								amount: {
									value: "{{ grand_total }}",
								},
							},
						],
					});
				},
				onClick: function (data, actions) {
					// Show a validation error if the checkbox is not checked
					if (validateFields()) {
						console.log("Vypnutí")
						document
							.querySelector("#error")
							.classList.remove("hidden");
							
					}
				},
				onApprove: function (data, actions) {
					// This function captures the funds from the transaction.
					return actions.order.capture().then(function (details) {
						window.location.href = "{{ url_for('paymentOK') }}"
					});
				},
			})
			.render("#paypal-button-container");
		//This function displays Smart Payment Buttons on your web page.
	</script>
</div>
{% endblock %}
