{% extends 'base.html'%}
{% block title %}{{ title }} - ReFacto{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-tablet.css') }}" media="(max-width: 968px)" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">
{% endblock %}
{% block body %}
    <div class="main">
        <header>Napište nám</header>
        <div class="contacts">
            <div>
                <div><i class="fas fa-envelope"></i><span><a href="mailto:refacto@email.cz">refacto@email.cz</a></span></div>
            </div>
            <div>
                <div><i class="fab fa-facebook"></i><span>refacto@email.cz</span></div>
            </div>
            <div>
                <div><i class="fab fa-instagram"></i><span><a target="_blank" href="https://www.instagram.com/refacto.cz/">@refacto.cz</a></span></div>
            </div>
        </div>
    </div>
{% endblock %}