{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom_desing.css')}}">
{% endblock %}
{% block body %}
    <div class="main">
        <h1>Vlastní návrh</h1>
        <form method="POST" action="/custom_desing_add" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div>
                {{ form.email.label}}{{ form.email(size=20) }}
            </div>
            <div>
                {{ form.image.label}}{{ form.image }}
            </div>
            <input type="submit" value="Go">
        </form>
    </div>
{% endblock %}