{% extends "base.html" %}
{% block title %}Kolekce - ReFacto{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kolekce.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kolekce-tablet.css') }}" media="(max-width: 968px)" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kolekce-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">
{% endblock %}

{% block body %}
<div class="page">
    <h1 class="w3-jumbo">Kolekce</h1>
    <div class="bubbles">
        <div class="bubble1">
            <div class="middle-bubble">
                <a href="{{ url_for('open_collection', collection='Kreslené')}}"><img onmouseleave="hoverEnd(this)" src="{{ url_for('static', filename='images/kolekce/red-bubble.png') }}"></a>
                <h2>Kreslené</h2>
                <p>Chcete něco jednoduchého? Tak tady!</p>
            </div>
            <img class="outside-bubble" src="{{ url_for('static', filename='images/kolekce/red-bubbles.png') }}">
        </div>
        <div class="bubble2">
            <div class="middle-bubble">
                <a href="{{ url_for('open_collection', collection='Chaos')}}"><img onmouseleave="hoverEnd(this)" src="{{ url_for('static', filename='images/kolekce/purple-bubble.png') }}"></a>
                <h2>Chaos</h2>
                <p>Jsi chaotický nebo jenom máš rád chaos? Vyber si!</p>
            </div>
            <img class="outside-bubble" src="{{ url_for('static', filename='images/kolekce/purple-bubbles.png') }}">
        </div>
        <div class="bubble3">
            <div class="middle-bubble">
                <a href="{{ url_for('open_collection', collection='Black and White')}}"><img onmouseleave="hoverEnd(this)" src="{{ url_for('static', filename='images/kolekce/blue-bubble.png') }}"></a>
                <h2>Studentské</h2>
                <p>Dokonalá trička pro více i méně pilné studenty.</p>
            </div>
            <img class="outside-bubble" src="{{ url_for('static', filename='images/kolekce/blue-bubbles.png') }}">
        </div>
        <div class="bubble4">
            <div class="middle-bubble">
                <a href="{{ url_for('open_collection', collection='Pohoda')}}"><img onmouseleave="hoverEnd(this)" src="{{ url_for('static', filename='images/kolekce/green-bubble.png') }}"></a>
                <h2>Pohodářské</h2>
                <p>Jednoduchý desing pro všechny pohodáře.</p>
            </div>
            <img class="outside-bubble" src="{{ url_for('static', filename='images/kolekce/green-bubbles.png') }}">
        </div>
        <div class="bubble5">
            <div class="middle-bubble">
                <a href="{{ url_for('open_collection', collection='Hudba')}}"><img onmouseleave="hoverEnd(this)" src="{{ url_for('static', filename='images/kolekce/yellow-bubble.png') }}"></a>
                <h2>Hudební</h2>
                <p>Kdo říkal, že hudba nemůže být vidět</p>
            </div>
            <img class="outside-bubble" src="{{ url_for('static', filename='images/kolekce/yellow-bubbles.png') }}">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function hoverEnd(object) {
        object.style = "transform:scale(100%);transition:1s;"
        //TODO(ALEX): FIX NECHÁVÁ TAM TĚCH 100%
        object.style = ""
    }
</script>
{% endblock %}