{% extends 'base.html'%}
{% block title%}{{ title }} - ReFacto{% endblock%}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open_collection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open_collection-tablet.css') }}" media="(max-width: 968px)" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open_collection-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">

{% endblock %}
{% block body %}
<div class="main">
    <div class="top">
        <div class="first_side">
        </div>
        <div class="center">
            <h1>{{ title }}</h1>
        </div>
        <div class="second_side">
        </div>
    </div>
    <div class="items">
        {% for s in shirts %}
        <a href="{{ url_for('openShirt', collection=title, shirt=s.name) }}">
            <div class="item">
                <img src="{{ url_for('static', filename=s.image) }}">
                <h2>{{ s.name }}</h2>
                <h3>{{ s.cost }}Kč</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}