{% extends 'base.html' %}
{% block title %}Platba V Pořádku,{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/paymentOK.css')}}">
{% endblock %}
{% block body %}
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
<h1> Není hotovo ale zaplaceno</h1>
{% endblock %}