{% extends 'base.html'%} {% block title %}Platba - ReFacto{% endblock %} {%
block head %} {{ JSGlue.include() }}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/payment.css')}}"
/>
{% endblock %} {% block body %}
<div class="main">
	<script src="https://www.paypal.com/sdk/js?client-id=AYl6fzLH8a742hJG_PA89W_uTwnogNeEbFHenxSv5BeSH5RpoJpqzJ8lgFn4mw3kyAUImk-s0WDL6F1Q&currency=CZK"></script>
	<h1>Platba</h1>
	<div class="data">
		<div class="items">
			<table class="w3-table">
				<tr>
					<th class="fotoCol">&nbsp;</th>
					<th class="nameCol">Název produktu</th>
					<th class="colorCol">Barva</th>
					<th>Velikost</th>
					<th>Počet Kusů</th>
					<th>Cena</th>
					<th class="delete">&nbsp;</th>
				</tr>

				{% for item in products %}
				<tr>
					<td class="image">
						<img
							src="{{ url_for('static', filename=item.imageCart) }}"
						/>
					</td>
					<td class="name">{{ item.name }}</td>
					<td>
						<div
							class="color"
							style="background-color: {{ item.color }}"
						></div>
					</td>
					<td>{{ item.size}}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.total }} Kč</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="info">
			<h3>Cena {{ grand_total }} Kč</h3>
			<h3>Doprava {{ delivery }} Kč</h3>
			<div id="paypal-button-container"></div>
		</div>
	</div>
	<script>
		paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ delivery_total }}',
                    }
                }]
            });
        },
        onApprove: async function (data, actions) {
            return actions.order.capture().then(function (details) {
                alert('success!');
                fetch('/kosik/checkout/platbaOK', {
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        orderID: data.orderID,
                    })
                });
            });
        }
    }).render('#paypal-button-container');
	</script>
</div>
{% endblock %}
