{% extends 'base.html'%} {% block title %}Platba - ReFacto{% endblock %} {%
block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css')}}"/>
{% endblock %} {% block body %}
<div class="main">
	<script src="https://www.paypal.com/sdk/js?client-id=AW0hYSmJUcbrdO1iqXhEYbfMlZqQCjPW3UJTtuvbXrR0jx2QYBE05vCII9w-oUrqNZQnTJcWG6vqsgmj&currency=CZK"></script>
	<div class="info">
		<h1>Platba</h1>
		<h3>Cena {{ grand_total }} Kč</h3>
		<h3>Doprava {{ delivery }} Kč</h3>
	</div>
	<div id="paypal-button-container"></div>
	<script>
		paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{ delivery_total }}'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
	</script>
</div>
{% endblock %}
