{% extends "base.html" %}
{% block title %}{{ name }} - ReFacto{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page-tablet.css') }}" media="(max-width: 1080px)" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">
{% endblock %}


{% block body %}
<div class="mainPage">
    <div class="shirt">
        
        <!--<img src="{{ url_for('static', filename=image) }}">-->

        <div class="carrousel">
            <!--<img class="mySlides" src="{{ url_for('static', filename='images/shirts/sketch/route-99_tshirt.png') }}">-->
            <img class="mySlides" src="{{ url_for('static', filename=image) }}">
            <!--<img class="mySlides" src="{{ url_for('static', filename=image) }}"> -->           

            <div class="w3-center">
                <div class="w3-section">
                  <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Předchozí</button>
                  <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Další ❯</button>
                </div>
                <!--<button class="w3-button demo" onclick="currentDiv(1)">B</button> 
                <button class="w3-button demo" onclick="currentDiv(2)">W</button> -->
            </div>

        </div>
        <!--<img src="{{ url_for('static', filename=image) }}">

        <!--<div class="w3-content" style="max-width:800px">
            <img class="mySlides" src="{{ url_for('static', filename=image) }}" style="width:100%">
            <img class="mySlides" src="{{ url_for('static', filename=image) }}" style="width:100%">
            <img class="mySlides" src="{{ url_for('static', filename=image) }}" style="width:100%">
        </div>
          
          <div class="w3-center">
            <div class="w3-section">
              <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
              <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
            </div>
            <button class="w3-black w3-button demo" onclick="currentDiv(1)">B</button> 
            <button class="w3-white w3-button demo" onclick="currentDiv(2)">W</button> 
          </div>-->
          
          <script>
          var slideIndex = 1;
          showDivs(slideIndex);
          
          function plusDivs(n) {
            showDivs(slideIndex += n);
          }
          
          function currentDiv(n) {
            showDivs(slideIndex = n);
          }
          
          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" w3-red", "");
            }
            x[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " w3-red";
          }
          </script>
        



        <div class="info">
            <h1 class="w3-jumbo">{{ name }}</h1>
            <p>{{ description }}</p>
            <div class="data">
                <h3 class="price">{{ cost }}&nbsp;Kč</h3>
                <div class="firstBubble">
                    <img src="{{ url_for('static', filename='images/blue_tag.png') }}">
                    <h3>Velmi kvalitní potisk</h3>
                </div>
                <div class="secondBubble">
                    <img src="{{ url_for('static', filename='images/green_tag.png') }}">
                    <h3>Fruit of the Loom</h3>
                </div>
            </div>

            <form action="{{ url_for('addItem')}}" method="POST">
            <div class="captions"><h2>Velikost:</h2><h2>Barva:</h2></div>
            <input type="hidden" value="{{ name }}" name="name">
                <div class="buyingData">
                    <div class="sizes">
                        {% for size in range(0, lenSizes) %}
                            <label class="size">
                                <input type="radio" name="size" value="{{ sizes[size] }}"  required>
                                <div>
                                    {{ sizes[size] }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="colors">
                        {% for color in range(0, lenColors) %}
                            <label>
                                <input type="radio" name="color" value="{{ colors[color] }}" required>
                                <div style="background-color: {{ colors[color] }}  ">
                                    <img src="{{ url_for('static', filename='images/checkmark-b.png')}}" alt="">
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="buy">
                    <input type="submit" value="Objednat"/>
                    <div class="quantity">
                        <input type="number" name="count" value="0" max="{{ stock }}" min="1"/>
                        <h3>&nbsp;ks</h3>
                    </div>
                    <input type="hidden" name="id" value="{{ id }}">
                    
                </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/shirt_page.js')}}"></script>
{% endblock %}