{% extends "base.html" %}
{% block title %}{{ name }} - ReFacto{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page.css') }}" type="text/css">
{% endblock %}


{% block body %}
<div class="mainPage">
    <div class="shirt">
        <img src="{{ url_for('static', filename='images/Fotka.png') }}">
        <div class="info">
            <h1 class="w3-jumbo">{{ name }}</h1>
            <p>Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny.Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny.Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny.Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny.Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny.Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny.Popis, který v podstatě přesvědčuje člově ke koupi a odvádí pozornost od ceny</p>
            <div class="data">
                <h3>{{ cost }} Kč</h3>
                <div class="firstBubble">
                    <img src="{{ url_for('static', filename='images/blue_tag.png') }}">
                    <h3>Velmi kvalitní potisk</h3>
                </div>
                <div class="secondBubble">
                    <img src="{{ url_for('static', filename='images/green_tag.png') }}">
                    <h3>Fruit of the Loom</h3>
                </div>
            </div>

            <form action="{{ url_for('addItem')}}" method="POST">
            <div class="captions"><h2>Velikost:</h2><h2>Barva:</h2></div>
            <input type="hidden" value="{{ name }}" name="name">
                <div class="buyingData">
                    <div class="sizes">
                        <select id="size" name="size" required>
                            {% for size in range(0, lenSizes) %}
                                <option value="{{ sizes[size] }}" class="size"><div class="w3-large">{{ sizes[size] }}</div></option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="colors">
                        {% for color in range(0, lenColors) %}
                            <label>
                                <input type="radio" name="color" value="{{ colors[color] }}" required>
                                <div style="background-color: {{ colors[color] }}  ">
                                    <img src="{{ url_for('static', filename='images/checkmark-b.png')}}" alt="">
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="buy">
                    <input type="submit" value="Objednat"/>
                    <div class="quantity">
                        <input type="number" name="count" value="0" max="{{ stock }}" min="1"/>
                        <h3>ks</h3>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/shirt_page.js')}}"></script>
{% endblock %}