{% extends "base.html" %}
{% block title %}{{ name }} - ReFacto{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page-tablet.css') }}" media="(max-width: 1080px)" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shirt_page-mobile.css') }}" media="(max-width: 786px) and (orientation: portrait)" type="text/css">
    <script src="{{ url_for('static', filename='js/w3.js')}}"></script>
{% endblock %}


{% block body %}
<div class="mainPage">
    <div class="shirt">
 
        <div class="designShow w3-display-container">
            <div class="carrousel">
                <img class="designs" src="{{ url_for('static', filename=image) }}">
            </div>
            <button class="prev w3-button w3-black w3-display-left" onclick="designShow.previous()">&#10094;</button>
            <button class="next w3-button w3-black w3-display-right" onclick="designShow.next()">&#10095;</button>
        </div>

        <script>
            designShow = w3.slideshow(".designs", 3000);
        </script>
        
        <div class="info">
            <h1 class="w3-jumbo">{{ name }}</h1>
            <p>{{ description }}</p>
            <div class="data">
                <h3 class="price">{{ cost }}&nbsp;Kč</h3>
                <div class="firstBubble">
                    <img src="{{ url_for('static', filename='images/blue_tag.png') }}">
                    <h3>Velmi kvalitní potisk</h3>
                </div>
                <div class="secondBubble">
                    <img src="{{ url_for('static', filename='images/green_tag.png') }}">
                    <h3>Fruit of the Loom</h3>
                </div>
            </div>

            <form action="{{ url_for('addItem')}}" method="POST">
            <div class="captions"><h2>Velikost:</h2><h2>Barva:</h2></div>
            <input type="hidden" value="{{ name }}" name="name">
                <div class="buyingData">
                    <div class="sizes">
                        {% for size in range(0, lenSizes) %}
                            <label class="size">
                                <input type="radio" name="size" value="{{ sizes[size] }}"  required>
                                <div>
                                    {{ sizes[size] }}
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="colors">
                        {% for color in range(0, lenColors) %}
                            <label>
                                <input type="radio" name="color" value="{{ colors[color] }}" required>
                                <div style="background-color: {{ colors[color] }}  ">
                                    <img src="{{ url_for('static', filename='images/checkmark-b.png')}}" alt="">
                                </div>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="buy">
                    <input type="submit" value="Objednat"/>
                    <div class="quantity">
                        <input type="number" name="count" value="0" max="{{ stock }}" min="1"/>
                        <h3>&nbsp;ks</h3>
                    </div>
                    <input type="hidden" name="id" value="{{ id }}">
                    
                </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/shirt_page.js')}}"></script>

{% endblock %}